body.single-book {
font-size: 1.5rem;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
.book--thumbnail{
    padding: 2rem;
    background-color: #f8f9fa;
}
.book--row {
    display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  .book--row {
    flex-direction: row;
  }
}